/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	}
	nav a{
		color:lightgray;
		text-decoration: none;
		font-size: 15px;
		font-weight:bold;
		text-align:center;
		margin: 10px 38px 0 10px;
		/* display: flex; */
		
	}
	
	.title{
		margin-bottom: 50px;
		display: flex;
	}
	.title img{
		/* display:flex; */
	}


	.title .title-text{
		width:400px;
		height:376px;
		/* display:flex; */
		padding:20px;
		font-size:80px;
		text-align: center;
		vertical-align: top;
	}

	.title button{
		/* display: flex; */
		margin: auto;
		border: 1px solid black;
		padding: 05px 30px;
		font-size:20px;
	}
	
	.text h2{
		font-size: 20px;
	}
	.text{
		display:flex;
		flex-direction: column;
		color:rgb(64, 64, 64);
	}
	.top{
		border-top: 1px solid rgb(64, 64, 64);
		display: flex;
		justify-content: space-between;
	}
	.top .text{
		width: 400px;
		margin: 10px 0;
		padding: 30px 20px 30px 0;
	}
	.bottom{
		border-bottom:1px solid rgb(64, 64, 64);
		display: flex;
		justify-content: space-between;
	}
	.bottom .text {
		width: 260px;
		margin:10px 20px 30px 0;
		padding:30px 0;
	}
	.container {
		width: 876px;
		margin: 40px;
	}
	.contact{
		margin: 30px auto;
		color: rgb(64, 64, 64)
	}
	.contact p{
		margin:10px 0 0 0;
	}
	footer{
	text-align: center;
	margin:15px 0;
	color: rgb(64, 64, 64);
	}

    /* Responsive */

      .logo-top{
          text-align: center;
      }

      .middle-img{
          width: 100%;
      }

      .container{
          width: 96%;
          margin: auto;
      }
      
      @media(max-width: 800px) {
        /* .container {
          background:grey;
        } */
      
        .container header nav {
          display: flex;
          flex-direction:row;
        }
      
        .container header nav a {
          margin-bottom: 20px;
        }
        
        .title img{
            display:none;
        }
        
        .title{
            justify-content: center;
        }

        .logo{
            display:none;
        }

      }

      
      @media(max-width: 500px) {
        /* .container {
          background:lightseagreen;
        } */
      
        .container header nav {
          display: flex;
          flex-direction: column;
        }
      
        .container header nav a {
          /* margin-bottom: 20px; */
          border: 1px solid grey;
          margin: 0;
          padding: 20px;

        }

        .logo{
            display: none;
        }

        .top, .bottom{
            flex-direction: column;
        }

        .text{
            width: 95% !important;
        }
      }